In [1]:
from pyspark import SparkConf, SparkContext
conf = SparkConf().setAppName('Intro a DataFrames')
sc = SparkContext().getOrCreate(conf=conf)

from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

df = spark.read.options(header='True',inferSchema='True').csv('people-100k.csv')

In [2]:
df.printSchema()

root
 |-- Index: integer (nullable = true)
 |-- Organization Id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Website: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Founded: integer (nullable = true)
 |-- Industry: string (nullable = true)
 |-- Number of employees: integer (nullable = true)

In [4]:
from pyspark.sql.functions import col
df = df.withColumn('test',col('Index')+30)

In [5]:
df.show(5)

+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+-------------------+----+
|Index|Organization Id|                Name|             Website|             Country|         Description|Founded|            Industry|Number of employees|test|
+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+-------------------+----+
|    1|8cC6B5992C0309c|         Acevedo LLC|https://www.donov...|Holy See (Vatican...|Multi-channeled b...|   2019|Graphic Design / ...|               7070|  31|
|    2|ec094061FeaF7Bc|      Walls-Mcdonald|http://arias-will...|           Lithuania|Compatible encomp...|   2005|           Utilities|               8156|  32|
|    3|DAcC5dbc58946A7|         Gregory PLC|http://www.lynch-...|             Tokelau|Multi-channeled i...|   2019|    Leisure / Travel|               6121|  33|
|    4|8Dd7beDa37FbeD0|Byrd, Patterson a...|https://www.james...|         Netherlands|Pre-emptive natio...|   1982|           Furniture|               3494|  34|
|    5|a3b5c54AEC163e4|    Mcdowell-Hopkins| http://fuentes.com/|             Mayotte|Cloned bifurcated...|   2016|   Online Publishing|                 36|  35|
+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+-------------------+----+
only showing top 5 rows

In [6]:
df = df.withColumn('test2',col('Index')-50)

In [7]:
df.show(5)

+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+-------------------+----+-----+
|Index|Organization Id|                Name|             Website|             Country|         Description|Founded|            Industry|Number of employees|test|test2|
+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+-------------------+----+-----+
|    1|8cC6B5992C0309c|         Acevedo LLC|https://www.donov...|Holy See (Vatican...|Multi-channeled b...|   2019|Graphic Design / ...|               7070|  31|  -49|
|    2|ec094061FeaF7Bc|      Walls-Mcdonald|http://arias-will...|           Lithuania|Compatible encomp...|   2005|           Utilities|               8156|  32|  -48|
|    3|DAcC5dbc58946A7|         Gregory PLC|http://www.lynch-...|             Tokelau|Multi-channeled i...|   2019|    Leisure / Travel|               6121|  33|  -47|
|    4|8Dd7beDa37FbeD0|Byrd, Patterson a...|https://www.james...|         Netherlands|Pre-emptive natio...|   1982|           Furniture|               3494|  34|  -46|
|    5|a3b5c54AEC163e4|    Mcdowell-Hopkins| http://fuentes.com/|             Mayotte|Cloned bifurcated...|   2016|   Online Publishing|                 36|  35|  -45|
+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+-------------------+----+-----+
only showing top 5 rows

In [8]:
df = df.withColumn('sum',col('test')+col('test2'))

In [9]:
df.show(5)

+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+-------------------+----+-----+---+
|Index|Organization Id|                Name|             Website|             Country|         Description|Founded|            Industry|Number of employees|test|test2|sum|
+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+-------------------+----+-----+---+
|    1|8cC6B5992C0309c|         Acevedo LLC|https://www.donov...|Holy See (Vatican...|Multi-channeled b...|   2019|Graphic Design / ...|               7070|  31|  -49|-18|
|    2|ec094061FeaF7Bc|      Walls-Mcdonald|http://arias-will...|           Lithuania|Compatible encomp...|   2005|           Utilities|               8156|  32|  -48|-16|
|    3|DAcC5dbc58946A7|         Gregory PLC|http://www.lynch-...|             Tokelau|Multi-channeled i...|   2019|    Leisure / Travel|               6121|  33|  -47|-14|
|    4|8Dd7beDa37FbeD0|Byrd, Patterson a...|https://www.james...|         Netherlands|Pre-emptive natio...|   1982|           Furniture|               3494|  34|  -46|-12|
|    5|a3b5c54AEC163e4|    Mcdowell-Hopkins| http://fuentes.com/|             Mayotte|Cloned bifurcated...|   2016|   Online Publishing|                 36|  35|  -45|-10|
+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+-------------------+----+-----+---+
only showing top 5 rows

In [10]:
df = df.withColumn('Country',lit('México'))

NameError: name 'lit' is not defined

In [ ]:
df = spark.read.options.(header='True',inferSchema='True').csv('people-100.csv')
df = df.withColumn('test',col('Index')+30).withColumn('test2',col('Index')-50).withColumn('sum',col('test')+col('test2'))