In [1]:
from pyspark import SparkConf, SparkContext
from pyspark.sql.functions import col,lit
conf = SparkConf().setAppName('Intro a DataFrames')
sc = SparkContext().getOrCreate(conf=conf)

from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

df = spark.read.options(header='True',inferSchema='True').csv('people-100k.csv')

In [2]:
from pyspark.sql.functions import sum,avg,max,min,mean,count

In [4]:
df2 = df.filter(df.Founded == '1982').groupBy('Country').agg(count('*').alias('Number of enginers'))
df2.show(5)

+--------------------+------------------+
|             Country|Number of enginers|
+--------------------+------------------+
|                Chad|                 4|
|            Anguilla|                 7|
|            Paraguay|                 7|
|Heard Island and ...|                 7|
|               Yemen|                 6|
+--------------------+------------------+
only showing top 5 rows

In [5]:
df2.filter(col('Number of enginers')>2).sort(df2['Number of enginers'].desc()).show(5)

+--------------------+------------------+
|             Country|Number of enginers|
+--------------------+------------------+
|           Singapore|                17|
|           Greenland|                16|
|South Georgia and...|                15|
|              Malawi|                15|
|               Congo|                15|
+--------------------+------------------+
only showing top 5 rows